{% extends "base.html" %}}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="text-left">Daten. Daten. Gut und schön. <br /> Was kann man aus ihnen lesen?</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-6 text-left">
				<p>12 Themen, 630 Abgeordneten, 4 Fraktionen und 123 Protokolle aus der 18. Wahlperiode. Was man aus diesen Daten lesen
					kann, seht ihr hier!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-left">Schwerpunkt setzen</h2>
				<ul class="text-left sub-nav">
					<li class="nav-featured">Featured</li>
					<li>Themen</li>
					<li>Abgeordnete</li>
					<li>Quatschikram</li>
				</ul>
				<a href="/viz/test">Vizlink</a>
			</div>
		</div>
	</div>
</header>
{% endblock %}