{% extends "base.html" %}}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">

	<div class="container-left-10">
		<h1 class="text-left">Daten. Daten. Gut und schön. <br />
			Was kann man aus ihnen lesen?
		</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-8 container-left-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid debitis doloremque dolores eveniet excepturi placeat rerum similique tenetur totam.</p>
	</div>
</div>

<div class="container">
	<div class="container-left-12">
		<h2 class="text-left">Schwerpunkt setzen</h2>
		<ul class="text-left sub-nav">
			<li class="nav-featured">Featured</li>
			<li>Themen</li>
			<li>Abgeordnete</li>
			<li>Quatschikram</li>
		</ul>
		<a href="/viz/test">Vizlink</a>
	</div>
</div>

{% endblock %}