{% extends "base.html" %}}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">

	<div class="container-left-10">
		<h1 class="text-left">Plenarprotokolle im Zeitverlauf</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-1 container-left-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid debitis doloremque dolores eveniet excepturi placeat rerum similique tenetur totam.</p>
	</div>
</div>

<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p class="bold">Was sehen wir hier?</p>
		<p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
	</div>
</div>

<div class="container">
	<div class="container-left-offset-1 container-left-11">
		<div style="width: 100%; height:320px; background-color: #ebebeb"></div>
		<div class="caption text-right">
			<p>Ausschnitt aus der Visualisierung der besonders interessant ist</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="container-left-offset-2 container-left-8">
		<p>
		Dis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
		</p>
		<p>
		Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer.
		</p>
	</div>
</div>
<div class="container">
	<div class="container-left-12">
		<h2><a href="/analyse/redeanteile">Weiter gehts</a></h2>
	</div>
</div>

{% endblock %}