<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{{title}}</title>

	{% block head %}
	<!-- Custom CSS -->
	<link href="/static/css/freelancer.css" rel="stylesheet">

	{% endblock %}
</head>

<body id="page-top" class="index">

<header id="top" class="navigation" role="banner">
	<div class="navigation-wrapper">
		<a href="/" class="logo">
			<div class="header-title">offenesParlament</div>
		</a>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i> MENU</a>
		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link {% if selected == 'protokolle' %}active {% endif %}"><a href="/protokolle">Protokolle</a></li>
				<li class="nav-link {% if selected == 'analyse' %}active {% endif %}"><a href="/analyse">Analyse</a></li>
				<li class="nav-link {% if selected == 'tracker' %}active {% endif %}"><a href="/tracker">Tracker</a></li>
				<li class="nav-link {% if selected == 'daten-tools' %}active {% endif %}"><a href="/daten-tools">Daten & Tools</a></li>
			</ul>
		</nav>
	</div>
</header>

{% block content %}{% endblock %}
<footer>
	<div class="container">
		<div class="container-left-6 footer-container-left">
			<div>
				<p>Ein Projekt von</p>
			</div>
			<div class="footer-container-left-12">
				<div class="footer-logo-container">
					<div class="footer-logo footer-logo-bc">
						<a href="http://www.abgeordnetenwatch.de"><img alt="Abgeordnetenwatch" src="/static/img/logos/logo_abgeordnetenwatch.png"></a>
					</div>
				</div>
				<div class="footer-logo-container">
					<div class="footer-logo">
						<a href="https://datenschule.de" target="_blank"><img alt="Datenschule" src="/static/img/logos/logo_datenschule.png"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-left-3 footer-text-container">
			<p class="bold">Newsletter abonnieren</p>
			<p>Melden Sie sich für den Datenschule
				<a href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3" target="_blank">Newsletter</a>
				an.
			</p>
		</div>
		<div class="container-left-3 footer-text-container">
			<p>
				<a href="/presse">Presse und Kontakt</a>
			</p>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-container-left">
			<div class="container-left-6 footer-container-left">
				<p>Datenschule ist ein Projekt von</p>
				<div class="footer-logo">
					<a href="https://okfn.de"><img alt="OKF DE" src="/static/img/logos/logo_okfde.png"></a>
				</div>
			</div>
			<div class="container-left-6 footer-container-left">
				<p>
					<a class="pull-right" href="#top"><i class="fa fa-arrow-circle-o-up"></i>nach oben</a>
					<a href="/impressum">Impressum</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="container-left-12 footer-credits">
			Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach
			<a href="https://creativecommons.org/licenses/by/3.0/deed.de" target="_blank">Creative Commons 3.0 Attribution</a>
			lizensiert. <br/>
			Coded with <3 by Datenschule. Wir bedanken uns für die technische Unterstützung bei
			Knut Hühne und bei Nadine Stammen für das Design.
		</div>
	</div>
</footer>

{% block scripts %}
<!-- jQuery -->
<!--<script src="/static/js/jquery.js"></script>-->

<!-- Bootstrap Core JavaScript -->
<!--<script src="/static/js/bootstrap.min.js"></script>-->

<!-- Plugin JavaScript -->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
<!--<script src="/static/js/classie.js"></script>-->
<!--<script src="/static/js/cbpAnimatedHeader.js"></script>-->

<!-- Contact Form JavaScript -->
<!--<script src="/static/js/jqBootstrapValidation.js"></script>-->
<!--<script src="/static/js/contact_me.js"></script>-->

<!-- Custom Theme JavaScript -->
<!--<script src="/static/js/freelancer.js"></script>-->
{% endblock %}
</body>
</html>