{% extends "base.html" %}}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1 class="text-left">Daten, Tools und noch viel mehr</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-8 text-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, dolorem eaque eveniet explicabo itaque laborum libero pariatur qui quisquam saepe!</p>
			</div>
		</div>
	</div>
</header>
{% endblock %}