<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <ul>
        {% for session in sessions %}
            <li>
                <a href="{{url_for('protocol', session=session['session']['sitzung']) }}"> Wahlperiode {{ session['session']['wahlperiode'] }} -  Sitzung {{ session['session']['sitzung'] }} </a>
                <ul>
                    {% for top in session['tops'] %}
                    <li><a href="{{url_for('protocol', session=session['session']['sitzung']) }}#top-{{top}}">{{top}}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>


