{% extends "base.html" %}}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="container">
	<div class="container-left-10">
		<h1>Tracker kommt wohl raus :)</h1>
	</div>
</div>
<div class="container">
	<div class="container-left-offset-8 container-left-3">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolor, ea eligendi est modi nulla officiis perspiciatis quaerat? Enim, reprehenderit!</p>
	</div>
</div>

{% endblock %}