%link {
  border: none;
  cursor: pointer;
  transition: color 0.1s linear;
}

a {
  @extend %link;
  color: $link-color;
  text-decoration: underline;

  &:active,
  &:hover {
    text-decoration: none;
  }
}

a.link-nav {
  text-decoration: none;
}

a.link-nav:hover {
  text-decoration: underline;
}

